img
{
	border: hidden;
}
*.sgroupstable
{
    text-align: center;
    border-collapse: collapse;
	background-color: #f3f3f3;
	border-bottom: none !important;
}
*.sgroupstable h3
{
	margin-top: 0.75rem;
}
*.sgroupstable>table {
	box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
	color: #4a4a4a;
	max-width: 100%;
	position: relative;
	border-radius: 3px;
	margin-top: 12px;
	margin-bottom: 12px;
}
*.website-header-row {
	border-bottom: 2px solid orange;
}
*.applicationtop
{
	border: none !important;
    vertical-align: middle;   
}
*.applicationmiddle
{
    vertical-align: top;   
}
*.applicationbottom
{
    vertical-align: top;   
}
*.website-footer-row {
	border-top: 2px solid orange;
	background-color:#0064b4;
}
*.website-footer-row td{
	border: none !important;
	color: white;
}
*.website-footer-row table, 
*.website-footer-row tr,
*.website-footer-row td{
	background-color:#0064b4;
	color: white;
}
*.website-footer-row hr{
	background-color: #0d78b1;
	margin: 1.0rem auto;
}
*.website-footer-row a{
	background-color: transparent;
	color: #ffcd83;
	text-decoration: none;
}
*.website-footer-row a:hover{
	background-color: transparent;
	color: #9ce7ff;
	text-decoration: underline;
}
*.applicationleft
{
    text-align: center;
	width: 20%;
	min-width: 20%;
	border-right: 1px solid #dddddd;
}
*.applicationright
{
    text-align: center;
	width: 10%;
	min-width: 10%;
	border-left: 1px solid #dddddd;
}
*.applicationcenter
{
	text-align: center;
	width: 70%;
    max-width: 70%;
}
*.applicationtop.applicationleft	.image,
*.applicationtop.applicationright .image
{
	max-width: 200px !important; 
	margin: 0.5rem auto;
}
*.applicationbottom.applicationleft	.image,
*.applicationbottom.applicationright .image
{
	max-width: 36px !important; 
	margin: 2rem auto;
}

*.applicationtitle
{
	color: #3399ff;
	font-size: 18px;
	text-decoration: None;
	font-weight: Bold;
    text-align: left;
    vertical-align: middle;
}
a.applicationlink
{
	color: #3366ff;
	background-color: #FFFFFF;
	font-size: 16px;
	text-decoration: underline;
	font-weight: Bold;
}
*.applicationname
{
	color: #3399ff;
	font-size: 22px;
	text-decoration: None;
	font-weight: Bold;
    text-align: center;
    vertical-align: middle;
}
*.supporttable
{
    color: #000000;
	background-color: #CEECF5;
}
*.collaboratorstable
{
    color: #000000;
	background-color: #3399ff;
}
*.collaboratorstitle
{
	font-weight: Bold;
	text-align: left;
	padding: 8px 18px;
}

tr.some td {
	padding: 12px 24px;
}
td.center
{
	vertical-align: middle;
	text-align: center;
}

/* Used mainly by FrametIt Function */
*.card {
	border-radius: 3px;
	margin-top: 12px;
	margin-bottom: 12px;
}
*.card table {
	margin-top: 0.2rem !important;
	margin-bottom: 1rem !important;
}
*.inactiveinfo
{
	background: white;
	border: 1px solid #e0e0e0;
	padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}
*.inactiveinfo table
*.notification table,  {
	margin: 12px;
}
*.pagingtitle
{
  	color: #007700;
	font-size: 12px;
	text-decoration: None;
	font-weight: Bold;
}
*.datagroupmenuitem
{
	color: #000099;
	font-size: 12px;
	text-decoration: None;
	font-weight: Bold;
}
*.datagroupmenuinactive
{
	color: #336633;
	font-size: 12px;
	text-decoration: None;
	font-weight: Bold;
}
*.datagroupmenutitle
{
	color: #000000;
	font-size: 12px;
	text-decoration: None;
	font-weight: Bold;
    font-style: Italic;
}
*.periodtitle
{
  	color: #3366ff;
	font-size: 16px;
	text-decoration: None;
	text-align: center;
	font-weight: Bold;
}
*.periodphrase
{
  	color: #000000;
	font-size: 12px;
	text-decoration: None;
	text-align: left;
	font-weight: Bold;
}
*.phrase
{
  	color: #000000;
	font-size: 16px;
	font-style: Italic;
	text-decoration: None;
	text-align: center;
	font-weight: Bold;
}

*.postloginmsg
{
	color: #222222;
	font-size: 12px;
	font-weight: Bold;
	margin-top: 12px;
}
*.spammsg
{
	color: #888888;
	font-size: 12px;
	font-weight: Bold;
}
*.uploadmsg
{
	color: #3366ff;
	font-size: 10px;
	font-weight: Bold;
}
*.diagnostics
{
    color: #0000FF;
    font-size: 10px;
    text-decoration: none;
}
*.diagnosticstitle
{
    color: #0077FF;
    font-size: 12px;
    text-decoration: underline;
    font-weight: Bold;
    font-style: Italic;
}
*.helplink
{
    color: #0033BB;
    background-color: #FFFFFF;
    font-size: 16px;
    text-decoration: underline;
    font-weight: Bold;
}
*.helptext
{
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    font-weight: Bold;
}
table.eventicons
{
    background-color: #CEECF5;
    color: #FFFFFF;
	align: center;
	text-align: center;
}
tr.eventicons
{
    background-color: #CEECF5;
    color: #FFFFFF;
	align: center;
	text-align: center;
}
td.eventicons
{
    background-color: #CEECF5;
    color: #FFFFFF;
	align: center;
	text-align: center;
    vertical-align: middle;
}
*.sponsorstable
{
    background-color: #FFFFFF;
	align: center;
	text-align: center;
}
*.sponsorstitle
{
    background-color: #CEECF5;
	color: #333333;
	font-size: 12px;
	text-decoration: None;
	font-weight: Bold;
    font-style: Italic;
}
*.sponsortitle
{
  	color: #000000;
	align: center;
	text-align: center;
    vertical-align: middle;
    font-size: 14px;
    text-decoration: none;
    font-weight: Bold;
}
*.sponsortext
{
  	color: #000000;
	align: center;
	text-align: center;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: none;
    font-weight: Bold;
}
*.sponsorlink
{
  	background-color: #FFFFFF;
  	color: #000000;
	align: center;
	text-align: center;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: none;
    font-weight: Bold;
}
*.sponsorlink:hover
{
  	background-color: #FFFFFF;
}
*.menuitem
{
	color: #000099;
	font-size: 12px;
	text-decoration: None;
	font-weight: Bold;
}
*.menuinactive
{
	color: #000033;
	font-size: 12px;
	text-decoration: None;
	font-weight: Bold;
}
*.menutitle
{
	color: #000000;
	font-size: 12px;
	text-decoration: None;
	font-weight: Bold;
    font-style: Italic;
}
