	  	*.ModuleCell
        {
          background-color: #CEECF5;
          text-align: center;
	  	}

        /* Search Table */
	  	*.searchrow
        {
	  		color: #FFFFFF;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  	}
	  	*.searchtable
	  	{
	  		font-size: 16px;
	  		text-decoration: None;
	  		text-align: center;
	  		font-weight: Bold;
            padding: 6px 0px;
            margin: auto;
            border-style: solid;
            border-width: 1px;
	  	}
	  	*.searchtabletitle
	  	{
  	  		color: #3399ff;
	  		font-size: 16px;
	  		text-decoration: None;
	  		text-align: center;
	  		font-weight: Bold;
	  	}
	  	*.searchtitle
	  	{
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  		font-weight: Bold;
	  	}
	  	*.searchdata
	  	{
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  		font-weight: Bold;
	  	}
	  	*.printformtitle
	  	{
  	  		color: #000000;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  		font-weight: Bold;
	  	}


        /* Data cells stuff */
	  	*.datatitle
        {
	  		color: #0000FF;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  	}
	  	*.datatitlelink
        {
	  		font-size: 14px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  	}
	  	*.datatitleimg
        {
	  	}
	  	*.data
        {
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Normal;
	  	}
	  	a.head /* head cells in items horisontal table */
	    {
	  		font-size: 14px;
	  		text-decoration:  underline;
            font-weight: none;
	  		text-align: left;

	  		color: blue;
	  		background-color: #CCCCCC;
	  	}
	  	*.head /* head cells in items horisontal table */
	    {
	  		font-size: 14px;
	  		text-decoration:  None;
            font-weight: bold;
	  		text-align: center;

	  		color: #000000;
	  		background-color: #CCCCCC;
	  	}
	  	*.title  /* title cell in item vertical table */
	    {
	  		font-size: 14px;
	  		text-decoration: None;
            font-weight: bold;
	  		text-align: center;

	  		color: #000000;
	  		/* background-color: #FFFFFF; */
	  	}
