	  	*.applicationtitle
        {
	  		color: #3399ff: 
	  		font-size: 18px;
	  		text-decoration: None;
	  		font-weight: Bold;
            text-align: left;
            vertical-align: middle;
	  	}
	  	a.applicationlink
        {
	  		color: #3366ff;
	  		background-color: #FFFFFF;
	  		font-size: 16px;
	  		text-decoration: underline;
	  		font-weight: Bold;
	  	}
	  	*.applicationname
        {
	  		color: #3399ff;
	  		font-size: 22px;
	  		text-decoration: None;
	  		font-weight: Bold;
            text-align: center;
            vertical-align: middle;
	  	}
	  	*.supporttable
	    {
	  		color: #000000;
	  		background-color: #CEECF5;
	  	}
	  	*.colaboratortable
	    {
	  		color: #000000;
	  		background-color: #3399ff;
	  	}
	  	a.even
	    {
	  		color: #000000;
	  		background-color: #3399ff;
	  	}

	  	td.center
        {
	  		vertical-align: middle;
	  		text-align: center;
	  	}



	  	*.pagingtitle
	  	{
  	  		color: #007700;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  	}
	  	*.datagroupmenuitem
        {
	  		color: #000099;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  	}
	  	*.datagroupmenuinactive
        {
	  		color: #336633;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  	}
	  	*.datagroupmenutitle
        {
	  		color: #000000;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
            font-style: Italic;
	  	}
	  	*.periodtitle
	  	{
  	  		color: #3366ff;
	  		font-size: 16px;
	  		text-decoration: None;
	  		text-align: center;
	  		font-weight: Bold;
	  	}
	  	*.periodphrase
	  	{
  	  		color: #000000;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  		font-weight: Bold;
	  	}
	  	*.phrase
	  	{
  	  		color: #000000;
	  		font-size: 16px;
	  		font-style: Italic;
	  		text-decoration: None;
	  		text-align: center;
	  		font-weight: Bold;
	  	}

	  	*.postloginmsg
        {
	  		color: #222222;
	  		font-size: 14px;
	  		font-weight: Bold;
	  	}
	  	*.spammsg
        {
	  		color: #888888;
	  		font-size: 12px;
	  		font-weight: Bold;
	  	}
	  	*.uploadmsg
        {
	  		color: #3366ff;
	  		font-size: 10px;
	  		font-weight: Bold;
	  	}
        *.diagnostics
        {
          color: #0000FF;
          font-size: 10px;
          text-decoration: none;
        }
        *.diagnosticstitle
        {
          color: #0077FF;
          font-size: 12px;
          text-decoration: underline;
          font-weight: Bold;
          font-style: Italic;
        }
        *.helplink
        {
          color: #0033BB;
          background-color: #FFFFFF;
          font-size: 16px;
          text-decoration: underline;
          font-weight: Bold;
        }
        *.helptext
        {
          color: #000000;
          font-size: 16px;
          text-decoration: none;
          font-weight: Bold;
        }
        table.eventicons
        {
           background-color: #CEECF5;
           color: #FFFFFF;
	  	   align: center;
	  	   text-align: center;
        }
        tr.eventicons
        {
           background-color: #CEECF5;
           color: #FFFFFF;
	  	   align: center;
	  	   text-align: center;
         }
        td.eventicons
        {
           background-color: #CEECF5;
           color: #FFFFFF;
	  	   align: center;
	  	   text-align: center;
           vertical-align: middle;
        }
        *.sponsorstable
        {
           background-color: #FFFFFF;
	  	   align: center;
	  	   text-align: center;
        }
         *.sponsorstitle
        {
            background-color: #CEECF5;
	  		color: #333333;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
            font-style: Italic;
         }
         *.sponsortitle
         {
  	  	   color: #000000;
	  	   align: center;
	  	   text-align: center;
           vertical-align: middle;
           font-size: 14px;
           text-decoration: none;
           font-weight: Bold;
         }
         *.sponsortext
         {
  	  	   color: #000000;
	  	   align: center;
	  	   text-align: center;
           vertical-align: middle;
           font-size: 12px;
           text-decoration: none;
           font-weight: Bold;
         }
         *.sponsorlink
         {
  	  	   background-color: #FFFFFF;
  	  	   color: #000000;
	  	   align: center;
	  	   text-align: center;
           vertical-align: middle;
           font-size: 12px;
           text-decoration: none;
           font-weight: Bold;
         }
         *.sponsorlink:hover
         {
  	  	   background-color: #FFFFFF;
         }
	  	*.menuitem
        {
	  		color: #000099;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  	}
	  	*.menuinactive
        {
	  		color: #000033;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  	}
	  	*.menutitle
        {
	  		color: #000000;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
            font-style: Italic;
	  	}
