	  	*.inactivemenuitem
        {
	  		color: #CCCCCC;
	  		background-color: #FFFFFF;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  	}
	  	*.activemenuitem
        {
	  		color: #3333ff;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-style: Italic;
	  	}
	  	a.ptablemenu
        {
	  		color: #3366ff;
	  		background-color: #FFFFFF;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  		font-family: Roman;
	  	}
	  	a.stablemenu
        {
	  		color: #3366ff;
	  		background-color: #FFFFFF;
	  		font-size: 10px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  	}
	  	a.atablemenu
        {
	  		color: #3366ff;
	  		background-color: #FFFFFF;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  	}
	  	a.sptablemenu
        {
	  		color: #3366ff;
	  		background-color: #FFFFFF;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
	  		font-family: Roman;
	  	}
