  	  	*
	  	{
	  		font-size: 12px;
            font-family: Verdana, Geneva, sans-serif;
	  	}
	  	body
        { 
	  		background-color: #FFFFFF;
	  	}
	  	a
        {
	  		color: #3366ff;
	  		background-color: #FFFFFF;
	  		font-size: 10px;
	  		text-decoration: underline;
	  		font-weight: Bold;
	  	}
	  	a:hover
        {
	  		background-color: #F5BCA9;
	  	}
	  	h1
	  	{
  	  		color: #3366ff;
	  		font-size: 20px;
	  		text-decoration: None;
	  		text-align: center;
	  		font-weight: Bold;
	  	}
	  	h2
	  	{
  	  		color: #3366ff;
	  		font-size: 18px;
	  		text-decoration: None;
	  		text-align: center;
	  		font-weight: Bold;
	  	}
	  	h3
	  	{
  	  		color: #3366ff;
	  		font-size: 16px;
	  		text-decoration: None;
	  		text-align: center;
	  		font-weight: Bold;
	  	}
	  	h4
	  	{
  	  		color: #3366ff;
	  		font-size: 14px;
	  		text-decoration: None;
	  		text-align: center;
	  		font-weight: Bold;
	  	}
	  	h5
	  	{
  	  		color: #3366ff;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: center;
	  		font-weight: Bold;
	  	}
	  	h6
	  	{
  	  		color: #3366ff;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: center;
	  		font-weight: Bold;
	  	}
	  	button
	  	{
  	  		color: #333333;
  	  		background-color: #FFFFFF;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  	}
	  	button:hover
	  	{
  	  		color: #000000;
  	  		background-color: #FAEBD7;
  	  		/* background-color: #000000; 8*/
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  	}
	  	select
	  	{
  	  		color: #000000;
  	  		background-color: #F2F2F2;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  	}
	  	select.disabled
	  	{
  	  		color: #333333;
  	  		background-color: #CCCCCC;
	  		font-size: 10px;
	  		text-decoration: None;
	  		text-align: left;
	  	}
	  	option
	  	{
  	  		color: #000000;
  	  		background-color: #F2F2F2;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  	}
	  	option.disabled
	  	{
  	  		color: #333333;
  	  		background-color: #CCCCCC;
	  		font-size: 12px;
	  		font-style: Italic;
	  		text-decoration: None;
	  	}
	  	option.selected
	  	{
  	  		color: #000000;
  	  		background-color: #F2F2F2;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  		font-weight: Bold;
	  	}
	  	textarea
	  	{
  	  		color: #333333;
  	  		background-color: #F2F2F2;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  	}
	  	input
	  	{
  	  		color: #000000;
  	  		background-color: #F2F2F2;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  	}
	  	checkbox
	  	{
  	  		color: #3333ff;
  	  		background-color: #33ccff;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  	}
	  	table
        {
	  		color: #000000;
	  		background-color: #FFFFFF;
	  	}
	  	th
        {
	  	}
	  	td
        {
	  		vertical-align: top;
	  		text-align: left;
	  	}
	  	tr
	    {
	  	}
