	  	*.userinfotable
	  	{
  	  		color: #333333;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: left;
	  		font-weight: Bold;
	  	}
        *.leftmenu
        {
            font-size: 14px;
            text-decoration: None;
            font-weight: Bold;
        }
	  	a.leftmenulinks
        {
	  		color: #3366ff;
	  		background-color: #FFFFFF;
	  		font-size: 12px;
	  		text-decoration: underline;
	  		font-weight: Bold;
	  	}
	  	a.leftmenulinks:hover
        {
	  		background-color: #F5BCA9;
	  	}
	  	*.leftmenuperiod
	  	{
  	  		color: #990000;
	  		font-size: 12px;
	  		text-decoration: None;
	  		text-align: center;
	  		font-weight: Bold;
	  	}
	  	*.leftmenulist
        {
            background-color: #FFFFFF;
	  		color: #333333;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
            font-style: Italic;
            list-style-type: none;
	  	}
	  	*.leftmenutitle
        {
            background-color: #CEECF5;
	  		color: #333333;
	  		font-size: 12px;
	  		text-decoration: None;
	  		font-weight: Bold;
            font-style: Italic;
	  	}
